@font-face {
  font-family: "Heebo";
  src: url(./fonts/Heebo/static/Heebo-Black.ttf);
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Heebo";
  src: url(./fonts/Heebo/static/Heebo-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Heebo";
  src: url(./fonts/Heebo/static/Heebo-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Heebo";
  src: url(./fonts/Heebo/static/Heebo-ExtraLight.ttf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Heebo";
  src: url(./fonts/Heebo/static/Heebo-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Heebo";
  src: url(./fonts/Heebo/static/Heebo-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Heebo";
  src: url(./fonts/Heebo/static/Heebo-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Heebo";
  src: url(./fonts/Heebo/static/Heebo-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Heebo";
  src: url(./fonts/Heebo/static/Heebo-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}
