:root {
  --bg-main: #101010;
  --fg-main: #ffffff;
  --pre-color: #dadada;
  --outer-padding: 0rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
  color: var(--fg-main);

  font-family: "Heebo";
  font-weight: 300;
}

h1 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--fg-main);
}

.name {
  border: none;
  margin: 0;
  padding-bottom: 0;
}

.nametitle {
  border: none;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.nomargin {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: normal;
}

a {
  color: var(--fg-main);
}

.homelink {
  margin-right: 1.5mm;
  font-size: large;
}

.root {
  height: 100vh;
}

.full {
  width: 100%;
  padding: var(--outer-padding);
  height: 100%;
}

.container {
  max-width: 68%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-h {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.mv1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.resume {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.rescol1 {
  margin-right: 5rem;
}

.rescol2 {
  min-width: 20%;
}

.exp {
  margin-bottom: 2rem;
}

.exprow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.exprow i {
  margin-right: 0.5rem;
}

.exp h4 {
  margin: 0;
  font-weight: normal;
}

.exp h3 {
  margin: 0;
}

.exp h2 {
  margin: 0;
  font-weight: bold;
}

.exp a {
  text-decoration: none;
}

.contact i {
  margin-right: 0.5rem;
}

.contact p {
  margin: 0 0 0.3rem 0;
}

.contact a {
  text-decoration: none;
}

.contact h3 {
  margin: 0 0 0.5rem 0;
}

.skillblock {
  margin-bottom: 1.5rem;
}

.skillblock h2 {
  font-size: x-large;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}

pre {
  color: var(--pre-color);
}
