:root {
  --outer-padding: 1rem;
}

body {
  font-size: calc(10px + 2vmin);
}

.container {
  max-width: 100%;
  margin-left: 1em;
  margin-right: 1em;
}

.homelink {
  font-size: x-large;
}

.exprow {
  flex-direction: column;
  align-items: flex-start;
}

.expdesc ul {
  padding-left: 0;
  margin-left: 0;
}

.expdesc ul li {
  margin-left: 1em;
}

.project ul {
  padding-left: 0;
  margin-left: 0;
}

.project ul li {
  margin-left: 1em;
}

.projrow {
  flex-direction: column;
  align-items: flex-start;
}

.resume {
  flex-direction: column-reverse;
}

.rescol1 {
  margin-right: 0;
}

/* don't display the interests section on mobile */
.interests {
  display: none;
}

.nomobile {
  display: none;
}

.skills {
  display: flex;
  width: calc(100vw - 2em);
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.skillblock h2 {
  margin: 0 1rem 0.5rem 0;
}
